
h1 {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 0;
}
#MolSubstance
{
  position:absolute;
  left:60px;
  bottom: 295px;
  height:20px;
  font-size:14pt;
}
#VolSubstance
{
  position:absolute;
  bottom: 270px;
  left:60px;
  height:20px;
  font-size:14pt;
}
#MassSubstance
{
  position:absolute;
  bottom: 245px;
  left:60px;
  height:20px;
  font-size:14pt;
}
#PartSubstance
{
  position:absolute;
  bottom: 220px;
  left:60px;
  height:20px;
  font-size:14pt;
}
#center
{
 text-align: center;   
}
